.btn-face-recognition {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.card-doc {
  width: 80%;
  margin: 0 auto;
}



@media (max-width: 767px) {

  .card-doc {
    width: 100%;
  }

  .container-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container-horizontal .card-doc {
    max-width: 50%;
  }
}


