.upload-img {
  cursor: pointer;
}

.result-compre {
  text-align: center;
  color: #3a2180;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.6);
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.image-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.clear-img {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0 0 0 5px;
  z-index: 1000;
}


.loader-comparison{
  width: 100px;
  height: 75px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  border-radius: 100%;
}
.loader-comparison:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  border: 15px solid transparent;
  border-top: 25px solid #fff;
  transform: rotate(45deg);
  top: 50px;
  left: -15px;
}

.loader-comparison:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  background-color: #FF3D00;
  box-shadow: 20px 0 #FF3D00, -20px 0 #FF3D00;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 60, 0, 0.25);
    box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 #FF3D00;
  }
  50% {
    background-color: #FF3D00;
    box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 rgba(255, 60, 0, 0.25);
  }
  100% {
    background-color: rgba(255, 60, 0, 0.25);
    box-shadow: 20px 0 #FF3D00, -20px 0 rgba(255, 60, 0, 0.25);
  }
}
      