.upload-img {
  cursor: pointer;
}

.result-compre {
  text-align: center;
  color: #3a2180;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.6);
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.image-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.counter-compre {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  z-index: 1000;
}

.clear-img {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0 0 0 5px;
  z-index: 1000;
}


/* HTML: <div class="loader-comparison"></div> */
.loader-comparison {
  display: inline-flex;
  gap: 5px;
}

.loader-comparison:before,
.loader-comparison:after {
  content: "";
  width: 35px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #fff;
  animation: 2s infinite linear;
  animation-name: l3-1, l3-2;
  animation-delay: -1s, 0s
}

.loader-comparison:after {
  --s: -1;
}

@keyframes l3-1 {
  0% {
    border-radius: 50% 0 0 50%
  }

  25% {
    border-radius: 50% 50% 0 0
  }

  50% {
    border-radius: 0 50% 50% 0
  }

  75% {
    border-radius: 0 0 50% 50%
  }

  100% {
    border-radius: 50% 0 0 50%
  }
}

@keyframes l3-2 {
  0% {
    transform: scaleX(var(--s, 1)) rotate(0deg)
  }

  100% {
    transform: scaleX(var(--s, 1)) rotate(-360deg)
  }
}